.App {
    display: grid;
    padding: 0;
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
    grid-template-areas:
            'header'
            'content'
            'footer';
    grid-template-columns: 1fr;
    grid-template-rows: auto fit-content(50%) 1fr;
}

header {
    grid-area: header;
    padding: 10px;
    color: rgba(0,0,0,.6);
    text-align: right;
}

.TranslateOriginal {
    overflow: auto;
    grid-area: content;
}

.TranslateNew {
    overflow: auto;
    grid-area: footer;
}

.Textarea {
    font-family: "Fira Code", monospace;
    font-size: 15px;
    border: 0;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    resize: none;
    background: rgba(252,255,0,0);
}

.light {color: #333}

.dark {color: #eeeeee
}

textarea:focus {
    outline: 0;
}

pre {
    font-family: "Fira Code", monospace;
    font-size: 15px;
    white-space: pre-wrap;
    opacity: .8;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
}